services:
  postgres:
    image: postgres:16-alpine
    container_name: egypt-tours-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pgadmin
      - POSTGRES_DB=egypttours
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
